body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

    .login-container h2 {
        margin-bottom: 20px;
    }

    .login-container label {
        display: block;
        text-align: left;
        margin: 10px 0 5px;
    }

    .login-container input, .login-container select, .login-container button {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .login-container button {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

        .login-container button:hover {
            background-color: #45a049;
        }

    .login-container a {
        display: block;
        margin-top: 10px;
        color: #4CAF50;
        text-decoration: none;
    }

        .login-container a:hover {
            text-decoration: underline;
        }

    .login-container .error-message {
        color: red;
        margin-top: 10px;
    }
